/* You can add global styles to this file, and also import other style files */
@import url('https://www.w3schools.com/w3css/4/w3.css');

.stdpadding{
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
}

.ourblue, h1, h2, h3, h4{
    color: #020241;
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

DIV{
    padding-left:1em;
}

.rounded{
    border-radius: 3px;
}

.w3-input{
    margin-bottom:1em;
}